.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 120px 80px 0;
}

.presentationBanner {
  height: 450px;
  margin: 0 112px;
  /* background-image: "url(https://i.picsum.photos/id/335/700/300.jpg?hmac=kN7rykTj1x5cR4iKfW1oci2qKz9yCoRhpePE08YAzvI)"; */
  background-color: var(--border-grey);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  margin-bottom: 16px;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
}

.signUpButton{
  padding: 12px 36px;
  background-color: var(--main-orange);
  border-radius: 4px;

  text-decoration: none;
  color: var(--white);

  margin-right: 8px;
}

.signUpButtonOutline {
  padding: 12px 36px;
  background-color: var(--white);
  border: 1px solid var(--main-orange);
  border-radius: 4px;

  text-decoration: none;
  color: var(--main-orange);

  margin-right: 8px;
}

.description {
  max-width: 380px;
  margin-top: 30px;
}

.aboutUs {
  margin: 16px 8px 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
  text-align: center;
  margin-bottom: 56px;
}

.topics img {
  width: 60%;
  border-radius: 50%;
}

.searchInput {
  width: 36%;
  margin-top: 80px;
  padding: 8px 32px 8px 8px;

  border-radius: 4px;
  border: 2px solid var(--border-grey);
}

.containerTitle {
  margin-top: 74px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.divisor {
  width: 90%;
  height: 0;
  align-self: center;
  border: 0.2px solid var(--border-grey);
}

.descriptionContainer {
  width: 80%;
  margin: 52px 112px;
  align-self: center;
}

.right-desc {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 16px;
}

.left-desc {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.desc-text{
  max-width: 410px;
}

.plansContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.plans {
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.plan-img {
  height: 250px;
}

.plan-principal{
  height: 300px;
}
