:root {
    --white: #FFFFFF;
    --black: #000000;
    --main-orange: #F56D27;
    --border-light-grey: #C3CFD9;
    --main-text-color: #293845;
    --border-grey: #cccccc;
    --scrollbar-track: #F4F4F4;
    --srcollbar-thumb: #dad7d7;

    --black-20-opacity: rgba(0,0,0,0.2);
}
  